<p>servers works!</p>

<label for="">Server name</label>
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <h3>{{ serverName }}</h3> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>

<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">
  Server was created! Name is {{ serverName }}
</p>
<ng-template #noServer>
  <p>NO Server was created!</p>
</ng-template>

<app-server *ngFor="let server of servers"></app-server>
